streamlit
langchain_core
langchain_community
langchain_text_splitters
langchain
pillow
numpy
pytesseract
unstructured
tqdm
qdrant-client
langchain-qdrant
transformers
sentence-transformers
torch
huggingface-hub
python-dotenv
nest-asyncio
python-docx
unstructured
pdfminer.six==20221105
pi_heif>=0.22.0
unstructured_inference>=0.8.1
pdf2image>=1.17.0